
.btn{
    padding: 8px 12px;
    border-radius: 3px;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    cursor: pointer;
}

.btn-primary{
    background-color: #0d6efd;
    color: white;
}